/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

table
  width 100%

.flex--spread p
  display flex
  justify-content space-between
  width 100%
  margin-top 5rem
  margin-bottom 3rem
