/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 650px!important
  max-height: none!important

table
  width 100%

.action
  margin-top: 4rem!important
  margin-bottom: 15rem!important

.flex--spread p
  display flex
  justify-content space-between
  max-width 70%
  margin-top 5rem
  margin-bottom 3rem
  margin-inline: auto
